* {
    margin: 0;
    padding: 0;
}

body {
    background: url(images/3.jpg) no-repeat center center fixed;
    background-size: cover;
}

header {

    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

img {
    height: 50px;
    margin-top: 5px;
    width: 60px;
    margin-left: 496px;
}

.icon {
    text-align: center;
    font-size: 50px;
    margin-top: -60px;
    color: black
}

.container {

    color: black;
    position: absolute;
    top: 25%;
    left: 40%;

}

.container h1 {
    font-family: cursive;
    width: 50%;
    display: inline-block;
    font-size: 40px;
    border-bottom: 3px solid purple;
    margin-bottom: 15px;
    padding: 13px 0;
}

.box {
    width: 100%;
    margin: 22px 0px;
    border-bottom: 2px solid purple;

}

.box input {
    background: none;
    width: 75%;
    padding: 5px 10px;
    font-size: 20px;

    border: none;
    outline: none;
    color: black;
}

.submit {
    color: black;
    cursor: pointer;
    outline: none;
    margin: 12px 0px;
    padding: 12px 22px;
    border: 2px solid purple;
    border-radius: 10px;
    font-size: 18px;
    background: none;
    font-weight: bold;

}

label {
    width: 25px;
    text-align: center;
}

.submit:hover {
    opacity: 0.5;
    color: purple;
    background: white;
    margin: 2px 23px;

}

.footer {
    background-color: seashell;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer .text {
    text-transform: uppercase, lowercase;
    color: black;
    font-size: 20px;
    margin-top: 578px;
}